@model ProductVM
@{
    ViewData["Title"] = "Products";
}

<p>Name: @Model.ProductName</p>
<p>Description: @Model.Description</p>
<p>Category: @Model.Category</p>
<p>Price: @Model.ProductPrice $</p>

<a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">See details</a>

<p>------------------------------------------------</p>
